
			<div id="crm-content">

				<div class="crm-container">

					<h3 class="crm-header">Customer Relationship Manager</h3>

					<button type="button" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
						<span class="fa fa-user-plus"></span>Collect Social Data
  					</button>

				</div>



				<div class="profile-container cf">

					<h3 class="twitter-header"><i class="fa fa-user-plus">&nbsp;</i> Profile</h3>

				    <div class="input-group">
				    	<span class="input-group-btn idata-side-explanation">
				        	<button class="btn btn-default" type="button">Company Name: </button>
				    	</span>
				    	<input type="text" class="form-control" placeholder="Bogstandard Law Firm">
				    	<span class="input-group-btn">
				        	<button class="btn btn-default" type="button">Edit</button>
				    	</span>
				    </div>

				    <div class="input-group">
				    	<span class="input-group-btn idata-side-explanation">
				        	<button class="btn btn-default" type="button">Director: </button>
				    	</span>
				    	<input type="text" class="form-control" placeholder="Boris Bigone">
				    	<span class="input-group-btn">
				        	<button class="btn btn-default" type="button">Edit</button>
				    	</span>
				    </div>

				    <div class="input-group">
				    	<span class="input-group-btn idata-side-explanation">
				        	<button class="btn btn-default" type="button">Specialities: </button>
				    	</span>
				    	<input type="text" class="form-control" placeholder="Law Practice, Doing Law Things, Having A Laugh Law-Wise, Doing That Law Thang">
				    	<span class="input-group-btn">
				        	<button class="btn btn-default" type="button">Edit</button>
				    	</span>
				    </div>

				    <div class="input-group">
				    	<span class="input-group-btn idata-side-explanation">
				        	<button class="btn btn-default" type="button">Website: </button>
				    	</span>
				    	<input type="text" class="form-control" placeholder="http://www.bogstandard.com">
				    	<span class="input-group-btn">
				        	<button class="btn btn-default" type="button">Edit</button>
				    	</span>
				    </div>

				    <div class="input-group">
				    	<span class="input-group-btn idata-side-explanation">
				        	<button class="btn btn-default" type="button">Type: </button>
				    	</span>
				    	<input type="text" class="form-control" placeholder="Private Sector">
				    	<span class="input-group-btn">
				        	<button class="btn btn-default" type="button">Edit</button>
				    	</span>
				    </div>

				    <div class="input-group">
				    	<span class="input-group-btn idata-side-explanation">
				        	<button class="btn btn-default" type="button">Company Size: </button>
				    	</span>
				    	<input type="text" class="form-control" placeholder="15-25">
				    	<span class="input-group-btn">
				        	<button class="btn btn-default" type="button">Edit</button>
				    	</span>
				    </div>

				    <h4>Address:</h4>

				    <div class="input-group">
				    	<span class="input-group-btn idata-side-explanation">
				        	<button class="btn btn-default" type="button">Address Line 1: </button>
				    	</span>
				    	<input type="text" class="form-control" placeholder="13 Hugomont Avenue">
				    	<span class="input-group-btn">
				        	<button class="btn btn-default" type="button">Edit</button>
				    	</span>
				    </div>

				    <div class="input-group">
				    	<span class="input-group-btn idata-side-explanation">
				        	<button class="btn btn-default" type="button">Address Line 2: </button>
				    	</span>
				    	<input type="text" class="form-control" placeholder="Crombury">
				    	<span class="input-group-btn">
				        	<button class="btn btn-default" type="button">Edit</button>
				    	</span>
				    </div>

				    <div class="input-group">
				    	<span class="input-group-btn idata-side-explanation">
				        	<button class="btn btn-default" type="button">City: </button>
				    	</span>
				    	<input type="text" class="form-control" placeholder="Liverpool">
				    	<span class="input-group-btn">
				        	<button class="btn btn-default" type="button">Edit</button>
				    	</span>
				    </div>

				    <div class="input-group">
				    	<span class="input-group-btn idata-side-explanation">
				        	<button class="btn btn-default" type="button">County: </button>
				    	</span>
				    	<input type="text" class="form-control" placeholder="Merseyside">
				    	<span class="input-group-btn">
				        	<button class="btn btn-default" type="button">Edit</button>
				    	</span>
				    </div>

				    <div class="input-group">
				    	<span class="input-group-btn idata-side-explanation">
				        	<button class="btn btn-default" type="button">Post Code: </button>
				    	</span>
				    	<input type="text" class="form-control" placeholder="L21 5QU">
				    	<span class="input-group-btn">
				        	<button class="btn btn-default" type="button">Edit</button>
				    	</span>
				    </div>

				</div>

				<div class="profile-container cf">

					<h3 class="twitter-header"><i class="fa fa-envelope">&nbsp;</i> Email</h3>

				</div>	

				<div class="profile-container cf">

					<h3 class="twitter-header"><i class="fa fa-users">&nbsp;</i> Social</h3>

				    <div class="input-group">
				    	<span class="input-group-btn idata-side-explanation">
				        	<button class="btn btn-default" type="button">Facebook: </button>
				    	</span>
				    	<input type="text" class="form-control" placeholder="http://www.facebook.com/83264283798u9j8d">
				    	<span class="input-group-btn">
				        	<button class="btn btn-default" type="button">Edit</button>
				    	</span>
				    </div>

				    <div class="input-group">
				    	<span class="input-group-btn idata-side-explanation">
				        	<button class="btn btn-default" type="button">Twitter: </button>
				    	</span>
				    	<input type="text" class="form-control" placeholder="http://www.twitter.com/8326dsknjfhjskj74283798u9j8d">
				    	<span class="input-group-btn">
				        	<button class="btn btn-default" type="button">Edit</button>
				    	</span>
				    </div>

				    <div class="input-group">
				    	<span class="input-group-btn idata-side-explanation">
				        	<button class="btn btn-default" type="button">LinkedIn: </button>
				    	</span>
				    	<input type="text" class="form-control" placeholder="http://www.linkedin.com/bogstandard">
				    	<span class="input-group-btn">
				        	<button class="btn btn-default" type="button">Edit</button>
				    	</span>
				    </div>

				</div>		


			</div>		