				<div class="left-menu" id="crm-navigation">
					<div class="btn-group-vertical function-list" role="group">
						<button type="button" class="btn btn-default">Collect Social Data</button>					
					</div>				
					<div class="btn-group-vertical function-list" role="group">
						<button type="button" class="btn btn-default">Profile</button>					
					</div>
					<div class="btn-group-vertical function-list" role="group">
						<button type="button" class="btn btn-default">Email</button>					
					</div>
					<div class="btn-group-vertical function-list" role="group">
						<button type="button" class="btn btn-default">Social</button>					
					</div>					
				</div>