				<div id="marketing-content">
					<div class="social-buttons cf">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="fa fa-twitter">&nbsp;</i><input class="show-social-network" id="idata-show-twitter" type="checkbox">
							</span>						
							<input type="text" class="form-control" value="twitter">
						</div>
						<div class="input-group">
							<span class="input-group-addon">
								<i class="fa fa-facebook">&nbsp;</i><input class="show-social-network" id="idata-show-facebook" type="checkbox">
							</span>
							<input type="text" class="form-control" value="facebook">
						</div>
						<div class="input-group">
							<span class="input-group-addon">
								<i class="fa fa-linkedin">&nbsp;</i><input class="show-social-network" id="idata-show-linkedin" type="checkbox">
							</span>			
							<input type="text" class="form-control" value="linkedin">		
						</div>
					</div>	

					<% include twitter %>
					<% include facebook %>
					<% include linkedin %>
				</div>