
				<div class="twitter-container" id="linkedin-profile">

					<h3 class="twitter-header">Linkedin Feed</h3>

					<div class="loading">
						<i class="fa fa-cog fa-spin"></i>
						<span class="idata-loading">Populating</span>
					</div>

					<div class="twitter-tweets">

						<div class="content-scroller">

							<div class="tweet">

								<div class="float-left">
									<img src="img/linkedin/bill_hicks.jpg" alt="Bill Hicks">
								</div>
								
								<div class="float-right">
									<p>John Andrews has added a skill to his portfolio</p>
									<p class="mini-text">2 hours ago. 
									<a href="#"><span class="fa fa-thumbs-o-up">&nbsp;</span> Like.</a>
									<a href="#"><span class="fa fa-comment">&nbsp;</span> Comment.</a>
									<a href="#"><span class="fa fa-envelope">&nbsp;</span> Send a Message.</a>
									</p>
								</div>

							</div>

							<div class="tweet">

								<div class="float-left">
									<img src="img/linkedin/fitty.jpg" alt="Fitty">
								</div>
								
								<div class="float-right">
									<p>Melinda Jenkins is now working for Happy Happy Industries.</p>
									<p class="mini-text">2 hours ago.
									<a href="#"><span class="fa fa-envelope">&nbsp;</span> Send a Message.</a>
									</p>
								</div>

							</div>

							<div class="tweet">

								<div class="float-left">
									<img src="img/linkedin/john_andrews.jpg" alt="John Andrews">
								</div>
								
								<div class="float-right">
									<p>John Andrews added 5 new skills to his portfolio.</p>
									<p class="mini-text">2 hours ago.
									<a href="#"><span class="fa fa-thumbs-o-up">&nbsp;</span> Like.</a>
									<a href="#"><span class="fa fa-comment">&nbsp;</span> Comment.</a>
									<a href="#"><span class="fa fa-envelope">&nbsp;</span> Send a Message.</a>
									</p>
								</div>

							</div>

							<div class="tweet">

								<div class="float-left">
									<img src="img/linkedin/john_wang.jpg" alt="John Wang">
								</div>
								
								<div class="float-right">
									<p>John Wang is now following John Andrews.</p>
									<p class="mini-text">2 hours ago.
									<a href="#"><span class="fa fa-user-plus">&nbsp;</span> Follow John Andrews.</a>
									</p>
								</div>

							</div>

						</div>

					</div>

				</div>