				<div class="left-menu" id="marketing-navigation">
					<div class="btn-group-vertical function-list" role="group">
						<button type="button" class="btn btn-default">Social Platform</button>
						<button type="button" class="btn btn-default">Send SMS</button>
						<button type="button" class="btn btn-default">Send Email</button>						
					</div>
				</div>