
				<div class="twitter-container" id="twitter-profile">

					<h3 class="twitter-header">Twitter Feed</h3>

					<div class="loading">
						<i class="fa fa-cog fa-spin"></i>
						<span class="idata-loading">Populating</span>
					</div>

					<div class="twitter-tweets">

						<div class="content-scroller">
							
							<div class="tweet">

								<div class="float-left">
									<i class="fa fa-twitter">&nbsp;</i>
								</div>
								
								<div class="float-right">
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo http://t.co/liXergikes</p>
									<p class="mini-text">2 hours ago. 
									<a href="#"><span class="fa fa-reply">&nbsp;</span> Reply.</a>
									<a href="#"><span class="fa fa-retweet">&nbsp;</span> Retweet.</a>
									<a href="#"><span class="fa fa-star-o">&nbsp;</span> Favourite.</a>
									</p>
								</div>

							</div>

							<div class="tweet">

								<div class="float-left">
									<i class="fa fa-twitter">&nbsp;</i>
								</div>
								
								<div class="float-right">
									<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur? http://t.co/liXergikes</p>
									<p class="mini-text">2 hours ago.
									<a href="#"><span class="fa fa-reply">&nbsp;</span> Reply.</a>
									<a href="#"><span class="fa fa-retweet">&nbsp;</span> Retweet.</a>
									<a href="#"><span class="fa fa-star-o">&nbsp;</span> Favourite.</a>
									</p>
								</div>

							</div>

							<div class="tweet">

								<div class="float-left">
									<i class="fa fa-twitter">&nbsp;</i>
								</div>
								
								<div class="float-right">
									<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. http://t.co/liXergikes</p>
									<p class="mini-text">2 hours ago.
									<a href="#"><span class="fa fa-reply">&nbsp;</span> Reply.</a>
									<a href="#"><span class="fa fa-retweet">&nbsp;</span> Retweet.</a>
									<a href="#"><span class="fa fa-star-o">&nbsp;</span> Favourite.</a>
									</p>
								</div>

							</div>

							<div class="tweet">

								<div class="float-left">
									<i class="fa fa-twitter">&nbsp;</i>
								</div>
								
								<div class="float-right">
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo http://t.co/liXergikes</p>
									<p class="mini-text">2 hours ago. 
									<a href="#"><span class="fa fa-reply">&nbsp;</span> Reply.</a>
									<a href="#"><span class="fa fa-retweet">&nbsp;</span> Retweet.</a>
									<a href="#"><span class="fa fa-star-o">&nbsp;</span> Favourite.</a>
									</p>
								</div>

							</div>

						</div>

					</div>

				</div>